#banner {
  /* background-image: url("../assets/forest-day.jpg"); */
  /* background-color: #009688; */
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  widows: 100%;
}
